
.modal-container {
    z-index: 1000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /* display: none; */
    position: fixed;
    align-items: center;
    overflow: auto;
}
.modal-area {
    display: grid;
    width: 30em;
    margin: 15% auto;
    background-color: rgba(63, 63, 63, 1);
    border-radius: 0.5em;
}
.modal-element {
    margin: 20px;
}
.modal-button {
    width: 20%;
    margin-left:auto;
    margin-right:auto;

}