@font-face {
  font-family: 'Platypi';
  src: url('fonts/Platypi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
    font-family: 'Platypi';
    background-color:  	#f6eee3;
}
.modal-container {
    z-index: 1000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    overflow: auto;
}
.modal-area {
    display: grid;
    width: 30em;
    margin: auto;
    padding: 0.5em;
    background-color:  	#f6eee3;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 0px;
}
.modal-element {
    font-family: inherit;
    font-size: inherit;
    border-radius: 0px;
    border:none;
    font-size: 1em;
    margin: 10px;
    padding:5px;

}
.modal-button {
    width: 20%;
    margin-left:auto;
    margin-right:auto;
    width: max-content;
    padding: 0.5em;
    background-color:  	#e5cbba;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

}
.modal-textbox {
    background-color:  	#e5cbba;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.modal-name {
    width: 100%;
    margin: auto;
    font-size: 3em;
    align-self: center;
}
.button-flex-layout {
    display: flex;
}