@font-face {
  font-family: 'Platypi';
  src: url('fonts/Platypi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    --off-white: #f6eee3;
    --dark-off-white: #e5cbba;
    --shadow-color: #31313197;
    --off-black: #313131;
    font-family: 'Platypi';
    background-color: var(--off-white);
    color: var(--off-black);
    accent-color: var(--off-black);
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-container {
    z-index: 1000;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    overflow: auto;
    animation: 0.25s cubic-bezier(0.25, 0.5, 0.75, 1) 0s 1 slideInFromTop;
}
.modal-area {
    display: grid;
    width: 30em;
    margin: auto;
    padding: 0.5em;
    background-color: var(--off-white);
    box-shadow: 10px 10px 5px var(--shadow-color);
    border: 1px solid var(--off-black);
}
.modal-element {
    font-family: inherit;
    font-size: inherit;
    border-radius: 0px;
    border:none;
    font-size: 1em;
    margin: 10px;
    padding:5px;

}
.modal-button {
    width: 20%;
    margin-left:auto;
    margin-right:auto;
    width: max-content;
    padding: 0.5em;
    background-color: var(--dark-off-white);
    box-shadow: 5px 5px 5px var(--shadow-color);
    border: 1px solid var(--off-black);
    color: var(--off-black);

}
.modal-textbox {
    background-color: var(--dark-off-white);
    box-shadow: 5px 5px 5px var(--shadow-color);
    border: 1px solid var(--off-black);
    color:var(--off-black);
}
.modal-name {
    margin: auto;
    font-size: 3em;
}


.button-flex-layout {
    display: flex;
}
button {
    cursor:pointer;
}
h1 {
    cursor:default;
    user-select: none;
}